/* ==================== header ==================== */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--bg-white);
  border-bottom: 1px solid #dfdfdf;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 69px;
  padding: 0 200px;
}

.header .wrap .logo-btn {
  width: 153px;
  height: 51px;
}

.header .wrap .login-btn {
  width: 128px;
  height: 48px;
  background-color: var(--primary-100);
  border-radius: 8px;
  text-align: center;
  color: var(--secondary-100);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
}

.header .wrap .login-btn:hover {
  background-color: var(--primary-200);
}

/* ==================== main - 공통 ==================== */
main {
  padding: 70px 0 0;
}

.box .box-txt h1,
.box .box-txt h2 {
  color: var(--secondary-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

/* ==================== main - section01, section05 공통 ==================== */
.section-blue {
  background-color: var(--bg-blue);
}

.section-blue .wrap {
  width: 1110px;
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.section-blue .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-blue .box .box-txt {
  padding: 0 0 60px;
}

.section-blue .box .box-txt a {
  display: block;
  width: 357px;
  height: 56px;
  margin: 32px 0 0;
  background-color: var(--primary-100);
  border-radius: 40px;
  text-align: center;
  color: var(--secondary-50);
  font-size: 20px;
  font-weight: 600;
  line-height: 56px;
}

.section-blue .box .box-txt a:hover {
  background-color: var(--primary-200);
}

.section-blue .box .box-img {
  width: 746px;
  height: 340px;
}

/* ==================== main - section02, section03, section04 공통 ==================== */
.section-white {
  background-color: var(--bg-white);
}
.section-white .wrap {
  width: 988px;
  height: 720px;
  padding: 138px 0;
}

.section-white .box {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: var(--bg-gray);
  border-radius: 12px;
}

.section-white .box .box-img {
  width: 579px;
  height: 444px;
}

.section-white .box .box-txt h3 {
  margin: 0 0 12px;
  color: var(--primary-100);
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.section-white .box .box-txt p {
  margin: 24px 0 0;
  color: var(--secondary-700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

/* ==================== main - section02 ==================== */
.section02 .box {
  padding: 0 0 0 23.5px;
}

/* ==================== main - section03 ==================== */
.section03 .box {
  flex-direction: row-reverse;
  padding: 0 14px 0 0;
}

.section03 .box .box-txt {
  text-align: right;
}

/* ==================== main - section04 ==================== */
.section04 {
  margin: 0 0 138px;
}

.section04 .box .box-img {
  width: 572px;
}

/* ==================== main - section05 ==================== */
.section05 .box .box-img {
  height: 397px;
}

/* ==================== footer ==================== */
.footer {
  height: 160px;
  background-color: var(--secondary-900);
  padding: 32px 0 0;
}

.footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
}

.footer p {
  color: var(--secondary-400);
  font-size: 16px;
  font-weight: 400;
}

.footer .footer-menu {
  display: flex;
  gap: 30px;
}

.footer .footer-menu li a {
  color: var(--secondary-200);
  font-size: 16px;
  font-weight: 400;
}

.footer .footer-icon {
  display: flex;
  gap: 12px;
}

.footer .footer-icon li a {
  display: block;
  width: 20px;
  height: 20px;
}

/* Tablet: 768px 이상 ~ 1199px 이하 */
@media (max-width: 1199px) and (min-width: 768px) {
  /* ==================== header ==================== */
  .header .wrap {
    padding: 0 24px;
  }

  /* ==================== main - section01, section05 공통 ==================== */
  .section-blue .wrap {
    width: 100%;
  }

  .section-blue .box {
    display: block;
  }

  .section-blue .box .box-txt {
    text-align: center;
  }

  .section-blue .box .box-txt a {
    margin: 24px auto 0;
  }

  .section-blue .box .box-img {
    margin: 0 auto;
  }

  /* ==================== main - section02, section03, section04 공통 ==================== */
  .section-white {
    background-color: var(--bg-gray);
  }

  .section-white .wrap {
    width: 100%;
    height: auto;
    padding: 24px;
  }

  .section-white .box {
    display: block;
  }

  .section-white .box .box-img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
  }

  .section-white .box .box-img img {
    width: 100%;
  }

  .section-white .box .box-txt {
    margin: 24px 0 0;
  }

  .section-white .box .box-txt h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .section-white .box .box-txt h2 br {
    display: none;
  }

  .section-white .box .box-txt h3 {
    margin: 0 0 16px;
    font-weight: 700;
  }

  .section-white .box .box-txt p {
    font-size: 18px;
    line-height: 26px;
  }

  /* ==================== main - section01 ==================== */
  .section01 .wrap {
    height: 771px;
  }

  .section01 .box .box-txt {
    padding: 0 0 211px;
  }

  .section01 .box .box-txt h1 br {
    display: none;
  }

  /* ==================== main - section02 ==================== */
  .section02 .box {
    padding: 0;
  }

  /* ==================== main - section03 ==================== */
  .section03 .box {
    padding: 0;
  }

  /* ==================== main - section04 ==================== */
  .section04 {
    margin: 0 0 32px;
  }

  .section04 .box .box-img {
    width: 100%;
  }

  /* ==================== main - section05 ==================== */
  .section05 .wrap {
    height: 927px;
  }

  .section05 .box .box-txt {
    padding: 0 0 217px;
  }

  /* ==================== footer ==================== */
  .footer {
    padding: 32px 104px 0;
  }

  .footer .wrap {
    width: 100%;
  }
}

/* Mobile: 375px 이상 ~ 767px 이하 */
@media (max-width: 767px) and (min-width: 375px) {
  /* ==================== header ==================== */
  .header .wrap {
    padding: 0 16px;
  }

  /* ==================== main - 공통 ==================== */
  .box .box-txt h1,
  .box .box-txt h2 {
    font-size: 32px;
  }

  /* ==================== main - section01, section05 공통 ==================== */
  .section-blue .wrap {
    width: 100%;
    height: 540px;
  }

  .section-blue .box {
    display: block;
  }

  .section-blue .box .box-txt {
    padding: 0 0 132px;
    text-align: center;
  }

  .section-blue .box .box-txt a {
    width: 240px;
    height: 48px;
    margin: 18px auto 0;
    font-size: 18px;
    line-height: 48px;
  }

  /* ==================== main - section02, section03, section04 공통 ==================== */
  .section-white {
    background-color: var(--bg-gray);
  }

  .section-white .wrap {
    width: 100%;
    height: auto;
    padding: 20px 16px;
  }

  .section-white .box {
    display: block;
  }

  .section-white .box .box-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    overflow: hidden;
  }

  .section-white .box .box-img img {
    width: 100%;
  }

  .section-white .box .box-txt {
    margin: 24px 0 0;
  }

  .section-white .box .box-txt h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .section-white .box .box-txt h2 br {
    display: none;
  }

  .section-white .box .box-txt h3 {
    margin: 0 0 8px;
    font-weight: 700;
  }

  .section-white .box .box-txt p {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 26px;
  }

  /* ==================== main - section01 ==================== */
  .section01 .box .box-img {
    position: relative;
    width: 100%;
    height: 204px;
    overflow: hidden;
  }

  .section01 .box .box-img img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 448px;
    height: 204px;
    margin: 0 0 0 -224px;
  }

  /* ==================== main - section02 ==================== */
  .section02 {
    margin: 36px 0 0;
  }

  .section02 .box {
    padding: 0;
  }

  /* ==================== main - section03 ==================== */
  .section03 .box {
    padding: 0;
  }

  /* ==================== main - section04 ==================== */
  .section04 {
    margin: 0 0 67px;
  }

  .section04 .box .box-img {
    width: 100%;
  }

  /* ==================== main - section05 ==================== */
  .section05 .box .box-img {
    position: relative;
    width: 100%;
    height: 198px;
    overflow: hidden;
  }

  .section05 .box .box-img img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 375px;
    height: 198px;
    margin: 0 0 0 -187.5px;
  }

  /* ==================== footer ==================== */
  .footer {
    height: 100%;
    padding: 32px 32px 30px;
  }

  .footer .wrap {
    width: 100%;
    flex-wrap: wrap;
    gap: 60px;
  }

  .footer p {
    flex-basis: 100%;
    order: 1;
  }
}
