/* ==================== header ==================== */
header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-white);
  border-bottom: 1px solid #dfdfdf;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 69px;
  padding: 0 200px;
}

header .wrap .logo-btn {
  width: 153px;
  height: 51px;
}

header .wrap .login-btn {
  width: 128px;
  height: 48px;
  background-color: var(--primary-100);
  border-radius: 8px;
  text-align: center;
  color: var(--secondary-100);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
}

header .wrap .login-btn:hover {
  background-color: var(--primary-200);
}

/* ==================== main - 공통 ==================== */
main {
  padding: 70px 0 0;
}

.box .box-txt h1,
.box .box-txt h2 {
  color: var(--secondary-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

/* ==================== main - section01, section05 공통 ==================== */
.section-blue {
  background-color: var(--bg-blue);
}

.section-blue .wrap {
  width: 1110px;
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.section-blue .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-blue .box .box-txt {
  padding: 0 0 60px;
}

.section-blue .box .box-txt a {
  display: block;
  width: 357px;
  height: 56px;
  margin: 32px 0 0;
  background-color: var(--primary-100);
  border-radius: 40px;
  text-align: center;
  color: var(--secondary-50);
  font-size: 20px;
  font-weight: 600;
  line-height: 56px;
}

.section-blue .box .box-txt a:hover {
  background-color: var(--primary-200);
}

.section-blue .box .box-img {
  width: 746px;
  height: 340px;
}

/* ==================== main - section02, section03, section04 공통 ==================== */
.section-white {
  background-color: var(--bg-white);
}
.section-white .wrap {
  width: 988px;
  height: 720px;
  padding: 138px 0;
}

.section-white .box {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: var(--bg-gray);
  border-radius: 12px;
}

.section-white .box .box-img {
  width: 579px;
  height: 444px;
}

.section-white .box .box-txt h3 {
  margin: 0 0 12px;
  color: var(--primary-100);
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.section-white .box .box-txt p {
  margin: 24px 0 0;
  color: var(--secondary-700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

/* ==================== main - section02 ==================== */
.section02 .box {
  padding: 0 0 0 23.5px;
}

/* ==================== main - section03 ==================== */
.section03 .box {
  flex-direction: row-reverse;
  padding: 0 14px 0 0;
}

.section03 .box .box-txt {
  text-align: right;
}

/* ==================== main - section04 ==================== */
.section04 {
  margin: 0 0 138px;
}

.section04 .box .box-img {
  width: 572px;
}

/* ==================== main - section05 ==================== */
.section05 .box .box-img {
  height: 397px;
}

/* ==================== footer ==================== */
footer {
  height: 160px;
  background-color: var(--secondary-900);
  padding: 32px 0 0;
}

footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
}

footer p {
  color: var(--secondary-400);
  font-size: 16px;
  font-weight: 400;
}

footer .footer-menu {
  display: flex;
  gap: 30px;
}

footer .footer-menu li a {
  color: var(--secondary-200);
  font-size: 16px;
  font-weight: 400;
}

footer .footer-icon {
  display: flex;
  gap: 12px;
}

footer .footer-icon li a {
  display: block;
  width: 20px;
  height: 20px;
}
