@charset "utf-8";

.login-header {
    width: 640px;
    margin: 60px auto 40px;
}

.login-logo img {
    width: 396px;
    height: 132px;
    margin: 0 auto;
    display: flex;
}

.main-login {
    width: 640px;
    margin: 0 auto;
}

.main-login form {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login {
    width: 640px;
    height: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-login label {
    height: 26px;
    line-height: 26px;
    font-weight: 600;
    font-size: 1rem;
}

.form-login input {
    height: 56px;
    border: 0;
    background-color: var(--gray100);
    border-radius: 12px;
    padding: 0 80px 0 20px;
    margin: 10px 0;
}

.login-toggle {
    position: absolute;
    right: 20px;
    top: 37px;
    transform: translateY(50%);
    border: none;
    background: none;
    cursor: pointer;
}

.login-login-btn {
    width: 640px;
    height: 56px;
    line-height: 56px;
    margin-bottom: 20px;
    margin-top: auto;
    background-color: var(--gray400);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: default;
    pointer-events: none;
}

.login-login-btn.active {
    background-color: var(--blue);
    pointer-events: auto;
    cursor: pointer;
}

.social-login {
    height: 74px;
    display: flex;
    justify-content: space-between;
    background-color: #E6F2FF;
    align-items: center;
    padding: 0 23px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.social-login li {
    display: inline-block;
    margin: 5px;
}

.error-msg {
    font-size: 0.75em;
    color: var(--red);
    margin-left: 10px;
}

.input-error {
    outline: 1px solid var(--red);
}

.auth-footer {
    text-align: center;
}

.auth-footer a {
    color: var(--blue);
    text-decoration: underline;
}

/* Viewport */
/* ===========
    Mobile
============ */
@media (max-width: 767px) and (min-width: 375px) {

    .login-header {
        width: 343px;
        margin: 80px auto 24px;
    }

    .login-logo img {
        width: 198px;
        height: 66px;
    }

    .main-login {
        width: 343px;
        margin: 0 auto;
    }

    .main-login form {
        width: 343px;
        margin: 0 auto;
    }

    .form-login {
        width: 343px;
        height: 110px;
    }

    .form-login label {
        height: 24px;
        line-height: 24px;
        font-size: 0.9rem;
    }

    .login-toggle {
        top: 34px;
    }

    .login-login-btn {
        width: 343px;
    }

    .social-login {
        width: 300px;
        margin: 0 auto 30px;
    }

    .error-msg {
        margin-left: 12px;
        font-size: 0.9rem;
    }

    .auth-footer {
        font-size: 0.8rem;
    }
}