/* 공통 스타일링 */
html,
body {
  font-family: "Pretendard";
  letter-spacing: -1;
  color: #374151;
}

.btn {
  border: none;
  transition: 0.1s;
  cursor: pointer;
}

.btn_large {
  background-color: var(--primary01);
  height: 56px;
  line-height: 56px;
  padding: 0 124px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-100);
  width: 100%;
}

.btn_large:hover {
  background-color: var(--primary02);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: var(--gray-100) !important;
  font-size: 16px !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--gray-100) inset;
}
