@charset "utf-8";



/* header */
.main-header {
    width: 100%;
    background-color: #fff;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 70px;
    margin: 0 auto;
    padding: 0 400px;
}

.header-logo img {
    width: 190px;
}

.login-button {
    width: 128px;
    height: 48px;
    line-height: 48px;
    background-color: var(--blue);
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

/* main */

.banner-top {
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    position: relative;
}

.banner-top-contents {
    width: 1110px;
    height: 340px;
    margin: 0 auto;
    display: flex;
    padding-top: 200px;
    align-items: center;
    gap: 7px;
}

.banner-top-contents img {
    width: 746px;
    height: 340px;
}

.banner-top-notice {
    width: 357px;
    height: 260px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 2.2rem;
    letter-spacing: 0.00001rcap;
    font-weight: 600;
}

.banner-top-notice h2 {
    width: 300px;
    color: var(--gray700);
}

.banner-top-notice a {
    font-size: 1rem;
    font-weight: 300;
}

.banner-top-btn {
    width: 357px;
    height: 56px;
    line-height: 56px;
    background-color: var(--blue);
    color: #fff;
    text-align: center;
    border-radius: 40px;
}

.contents {
    width: 100%;
    height: 2160px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 988px;
    height: 444px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCFCFC;
    gap: 12px;
}

.content img {
    width: 579px;
    height: 444px;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    gap: 12px;
    text-align: left;
    font-size: 2.1rem;
    font-weight: 600;
    width: 320px;
    height: 240px;
    line-height: 45px;
    color: var(--gray700);
}

.detail-title {
    font-size: 1.2rem;
    color: var(--blue);
}

.detail h2 {
    width: 250px;
}

.detail-second {
    text-align: right;
    align-items: flex-end;
}

.detail-content {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
}

.banner-bottom {
    margin-top: 150px;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
}

.banner-bottom-contents {
    width: 1110px;
    height: 397px;
    margin: 0 auto;
    display: flex;
    padding-top: 143px;
    align-items: center;
    justify-content: space-between;
}

.banner-bottom-notice {
    width: 295px;
    height: 172px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 50px;
    color: var(--gray700);
}

/* footer */

.main-footer {
    width: 100%;
    height: 160px;
    background-color: var(--gray900);
    padding-top: 20px;
}

.footer-contents {
    width: 1120px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: var(--gray400);
}

.footer-menu{
    width: 159px;
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    text-decoration: none;
    color: var(--gray200);
}

.sns {
    display: flex;
    width: 116px;
    justify-content: space-between;
}

.sns li {
    display: inline-block;
}

.sns li img {
    width: 20px;
    height: 20px;
}

/* Viewport */
/* ===========
    Tablet
============ */
@media (max-width: 1199px) and (min-width: 768px) {

    .header-top {
        max-width: 696px;
        height: 51px;
        padding: 0 24px;
        margin: 10px auto 0;
    }

    .header-logo img {
        width: 153px;
    }

    .banner-top {
        height: 771px;
    }

    .banner-top-contents {
        width: 744px;
        height: 771px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 84px;
        margin: 0 auto;
    }

    .banner-top-contents img {
        width: 744px;
        margin-bottom: 85px;
    }

    .banner-top-notice {
        width: 512px;
        height: 136px;
        margin: 0 auto;
        align-items: center;
    }

    .banner-top-notice h2 {
        width: 512px;
    }

    .banner-top-btn {
        margin-top: -20px;
    }

    .contents {
        width: 100%;
        height: 2332px;
        margin: 0 auto;
        justify-content: center;
        gap: 52px;
    }

    .content {
        width: 696px;
        height: 708px;
        flex-direction: column;
    }

    .content img {
        width: 696px;
        height: 524px;
    }

    .content:nth-child(2) img {
        order: 1;
    }

    .content:nth-child(2) .detail {
        order: 2;
    }
    
    .detail {
        width: 500px;
        height: 160px;
        margin: 0 auto 0 0;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 40px;
    }

    .detail-title {
        font-size: 1rem;
    }

    .detail h2 {
        width: 410px;
    }

    .detail h2 div {
        display: none;
    }

    .detail-second {
        margin: 0 0 0 auto;
    }

    .detail-content {
        font-size: 1rem;
        line-height: 20px;
    }

    .banner-bottom {
        margin-top: 0;
        height: 927px;
        width: 100%;
    }

    .banner-bottom-contents {
        width: 100%;
        height: 927px;
        flex-direction: column;
        padding-top: 0px;
    }

    .banner-bottom-notice {
        text-align: center;
        margin-top: 200px;

    }

    .main-footer {
        width: 100%;
        height: 130px;
    }

    .footer-contents {
        width: 536px;
    }
}
/* ===========
    Mobile
============ */
@media (max-width: 767px) and (min-width: 375px) {

   .header-top {
        max-width: 343px;
        height: 51px;
        padding: 0 16px;
        margin: 10px auto 0;
   }

   .header-logo img {
        width: 103px;
    }

    .banner-top {
        height: 540px;
    }

    .banner-top-contents {
        width: 100%;
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 48px;
        margin: 0 auto;
    }

    .banner-top-contents img {
        width: 100%;
        height: 38%;
        object-fit: cover;
        margin-bottom: 48px;
    }

    .banner-top-notice {
        width: 240px;
        height: 156px;
        margin: 0 auto;
        align-items: center;
    }

    .banner-top-notice h2 {
        width: 240px;
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
    }

    .banner-top-btn {
        width: 240px;
        height: 48px;
        margin-top: -20px;
        line-height: 48px;
    }

    .contents {
        width: 100%;
        height: 1310px;
        margin: 0 auto;
        justify-content: center;
        gap: 15px;
    }

    .content {
        width: 344px;
        height: 417px;
        flex-direction: column;
    }

    .content img {
        width: 344px;
        height: 259px;
    }

    .content:nth-child(2) img {
        order: 1;
    }

    .content:nth-child(2) .detail {
        order: 2;
    }
    
    .detail {
        width: 240px;
        height: 134px;
        margin: 0 auto 0 0;
        gap: 5px;
        font-size: 1.4rem;
        line-height: 30px;
    }

    .detail-title {
        font-size: 1rem;
    }

    .detail h2 {
        width: 320px;
    }

    .detail h2 div {
        display: none;
    }

    .detail-second {
        margin: 0 0 0 auto;
    }

    .detail-content {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .banner-bottom {
        margin-top: 0;
        height: 540px;
        width: 100%;
    }

    .banner-bottom-contents {
        width: 100%;
        height: 540px;
        flex-direction: column;
        padding-top: 0px;
    }

    .banner-bottom-contents img {
        width: 100%;
        height: 198px;
    }

    .banner-bottom-notice {
        text-align: center;
        margin-top: 120px;
    }

    .main-footer {
        width: 100%;
        height: 130px;
    }

    .footer-contents {
        width: 311px;
        height: 98px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .copyright {
        height: 20px;
        margin-top: 40px;
    }

    .footer-menu {
        height: 20px;
    }

    .footer-contents:first-child .copyright {
        order: 3;
    }

    .footer-menu li a {
        color: var(--gray400);
    }

    .sns {
        height: 20px;
    }
}