body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.header-logo {
  width: 396px;
  height: 132px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
  width: 640px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-main {
  margin-top: 8px;
  padding: 16px 24px;
  height: 56px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-100);
  font: var(--text-lg-regular);
  color: var(--secondary-800);
}

.input > label {
  font: var(--text-2lg-bold);
  color: var(--secondary-800);
}

p.wrong-input {
  display: block;
}

.error-message {
  display: none;
  padding-left: 16px;
  font: var(--text-md-semibold);
  color: var(--error);
}

.input-main.wrong-input {
  border: 1px solid var(--error);
}

.signup-password-content {
  position: relative;
}

.visibility-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.signup-button {
  height: 56px;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-100);
  font: var(--text-xl-semibold);
  color: var(--secondary-100);
  cursor: pointer;
}

.signup-button:disabled {
  background-color: var(--secondary-400);
  cursor: default;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--primary-50);
}

.social-login > span {
  font: var(--text-lg-medium);
  color: var(--secondary-800);
}

.social-login-buttons {
  display: flex;
  gap: 16px;
}

.social-image {
  width: 42px;
  height: 42px;
}

.login {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.login-script {
  font: var(--text-md-medium);
  color: var(--secondary-800);
}

.login-button {
  font: var(--text-md-medium);
  color: var(--primary-100);
  text-decoration: underline;
}

@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 60px 16px;
  }
  .header-logo {
    width: 198px;
    height: 66px;
  }

  main {
    margin-top: 24px;
    gap: 24px;
    max-width: 400px;
    width: 100%;
  }

  .main-form {
    gap: 16px;
    width: 100%;
  }

  .input {
    gap: 8px;
  }

  .input > label {
    font: var(--text-md-bold);
  }

  .input-main {
    margin-top: 0;
  }

  .signup-password-content {
    position: relative;
  }

  .visibility-button {
    top: 16px;
  }
  
  .social-login {
    height: 75px;
    padding: 16px 24px;
  }
}