#best-item-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#best-item-section .section-title {
  padding-top: 24px;
  padding-bottom: 8px;
  color: var(--Secondary-900, #111827);
  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.best-item-list {
  display: grid;
  gap: 16px 24px;
}

/* Desktop(1200px 이상) : 4열 배치 */
@media (min-width: 1200px) {
  .best-item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet(768px 이상 1199px 이하) : 2열 배치 */
@media (max-width: 1199px) {
  .best-item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile(768px 미만) : 1열 배치 */
@media (max-width: 767px) {
  .best-item-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
