.gnb {
  width: 100%;
  padding: 9px 400px;
  background-color: var(--bg-white);
  position: sticky;
  top: 0;
  left: 0;
}

.gnb > nav {
  max-width: 1120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-small-48 {
  padding: 12px 23px;
  background-color: var(--primary-100);
  border-radius: 8px;
  color: var(--secondary-100);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.btn-small-48:hover {
  background-color: var(--primary-200);
}

.btn-small-48:active {
  background-color: var(--primary-300);
}

.btn-small-48:disabled {
  background-color: var(--primary-400);
}

.login-button {
  width: 128px;
  height: 48px;
}

.intro {
  background-color: var(--bg-blue);
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.intro-container {
  width: 1110px;
  display: flex;
}

.intro-container-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 260px;
  margin: auto 0;
}

.intro-container-text > h1 {
  color: var(--secondary-700);
  width: 357px;
  font-size: 40px;
  font-weight: 700;
}

.intro-container-text > a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  height: 56px;
  width: 356px;
  text-decoration: none;
  background-color: var(--primary-100);
  color: var(--secondary-50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
}

.intro-container-text > a:hover {
  background-color: #1967d6;
  color: #f3f4f6;
}

.intro-container-text > a:active {
  background-color: #1251aa;
  color: var(--secondary-100);
}

.intro-container > img {
  max-width: 746px;
  width: 100%;
}

.sections {
  width: 100%;
  height: 720px;
  background-color: var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 988px;
  height: 444px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  gap: 64px;
  background-color: var(--bg-gray);
}

.card.reverse {
  flex-direction: row-reverse;
}

.card-description {
  width: 298px;
  height: 238px;
}

.card-description span {
  display: block;
  color: var(--primary-100);
  font-size: 18px;
  font-weight: 800;
  font-family: "Abhaya Libre", sans-serif;
  margin-bottom: 12px;
}

.card-description h2 {
  color: var(--secondary-700);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 12px;
  line-height: 140%;
  word-spacing: 2%;
}

.card-description p {
  color: var(--secondary-700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.card-description.middle {
  text-align: right;
}

.sections.last {
  margin-bottom: 138px;
}

.banner {
  width: 100%;
  height: 540px;
  background-color: var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-wrapper {
  display: flex;
  gap: 69px;
}

.banner-wrapper p {
  color: var(--secondary-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  width: 295px;
}

.banner-wrapper img {
  width: 746px;
  height: 397px;
}

footer {
  background-color: var(--secondary-900);
  height: 160px;
  width: 100%;
  font-size: 16px;
  padding: 32px 400px;
}

.footer-wrapper {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper div:nth-child(1) {
  color: var(--secondary-400);
}

.footer-wrapper div:nth-child(2) {
  display: flex;
  gap: 30px;
}

.footer-wrapper div:nth-child(2) a {
  color: var(--secondary-200);
  text-decoration: none;
}

.footer-wrapper div:nth-child(3) {
  display: flex;
  gap: 12px;
}

@media (max-width: 1199px) {
  .gnb {
    width: 100%;
    padding: 10px 24px;
  }

  .intro {
    height: 771px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }

  .intro-container {
    max-width: none;
    width: 100%;
    padding: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .intro-container-text {
    height: 136px;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 24px;
    width: 512px;
  }

  .intro-container > img {
    max-width: 100%;
  }

  .intro-container-text > h1 {
    width: 100%;
  }

  .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    background-color: var(--bg-gray);
  }

  .card.reverse {
    flex-direction: column;
  }

  .card > img {
    width: 100%;
  }

  .sections {
    height: auto;
    padding: 24px;
  }

  .card {
    height: auto;
  }

  .card-description {
    width: 100%;
    height: 100%;
  }

  .card-description > span {
    font-size: 18px;
  }
  .card-description > h2 {
    font-size: 32px;
  }

  .card-description.middle > p {
    margin-left: auto;
  }

  .card-description > p {
    font-size: 18px;
    width: 35%;
    line-height: 25px;
  }

  .card.reverse {
    text-align: right;
  }

  .sections.last {
    margin-bottom: 0;
  }

  .banner {
    height: 927px;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
  }

  .banner-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 0;
  }

  .banner-wrapper img {
    width: 100%;
    height: auto;
  }

  .banner-wrapper p {
    justify-content: center;
    width: 295px;
    align-items: center;
    text-align: center;
  }

  .footer {
    padding: 32px 104px 64px 104px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .gnb {
    padding: 10px 16px;
  }

  .intro {
    height: 540px;
    padding-top: 48px;
  }

  .intro-container-text {
    height: 156px;
    gap: 18px;
  }

  .intro-container-text > h1 {
    width: 50%;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    height: 90px;
  }

  .intro-container-text > a {
    height: 48px;
  }

  .sections {
    padding: 16px;
  }

  .card-description > p {
    width: 50%;
    font-size: 16px;
    line-height: 120%;
  }

  .card-description > span {
    font-size: 16px;
  }

  .card-description > h2 {
    font-size: 24px;
    line-height: 140%;
  }

  .sections.last {
    margin-bottom: 40px;
  }

  .banner {
    height: 540px;
    padding-top: 10%;
  }

  .banner p {
    font-size: 32px;
    line-height: 140%;
  }

  .banner img {
    width: 90%;
  }

  .footer {
    padding: 32px;
  }
}
