* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", sans-serif;
}

body {
    width: 100%;
}

#nav {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 9px 400px 9px 400px;
}

.nav-container {
    max-width: 1120px;
    height: 51px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 153px;
    height: 51px;
}

#login_btn {
    width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    background: rgba(54, 146, 255, 1);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

#hero {
    width: 100%;
    height: 540px;
    background: rgba(207, 229, 255, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-container {
    width: 1100px;
    height: 340px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 7px;
}

.hero-text {
    width: 357px;
    height: 260px;
    margin-bottom: 60px;
}

.hero-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 140%;
    margin-bottom: 32px;
}

.blue-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #3692FF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
}

.hero-btn {
    width: 375px;
    height: 56px;
    font-size: 20px;
    border-radius: 40px;
    background: #3692FF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.hero-img {
    width: 746px;
}

.feature-section {
    width: 100%;
    padding: 100px 0;
}

.white-bg { background: #FFFFFF; }

.feature-container {
    width: 988px;
    height: 444px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-img {
    width: 579px;
    height: 444px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.feature-text.align-right {
    align-items: flex-end;
    text-align: right;
    padding-left: 24px;
}

.label {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #111827;
    line-height: 1.3;
    margin-bottom: 24px;
}

.feature-text p {
    font-size: 24px;
    font-weight: 400;
    color: #4B5563;
    line-height: 1.5;
}

.banner-section {
    width: 100%;
    background: #CFE5FF;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner-container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.banner-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: #111827;
    line-height: 1.3;
}

.banner-container img {
    width: 600px;
    vertical-align: bottom;
}

.bottom {
    background: rgba(17, 24, 39, 1);
    padding: 32px 400px 32px 400px;
    width: 100%;
    height: 160px;
}

.bottom_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.box_1 span {
    color: #9ca3af;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
}

.box_2 {
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    font-size: 16px;
}
.box_2 span{
    color: #FFFFFF;
}
.box_2 a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.box_3 {
    display: flex;
    gap: 12px;
}

.box_3 img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}