@import url(/style/global.css);

.auth-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.auth-container {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 210px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.auth-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth-input-container label {
  font: 700 18px / 26px "Pretendard";
  color: var(--secondary-800);
  margin-bottom: 16px;
}

.auth-input {
  width: 100%;
  padding: 15px 24px;
  border-radius: 12px;
  border: 0;
  background-color: var(--secondary-100);
  font: 400 16px / 26px "Pretendard";
  color: var(--secondary-800);
}

.auth-password-wrapper {
  position: relative;
  display: flex;
}

.auth-input.add-padding-right {
  padding-right: 52px;
}

.auth-error-msg {
  font: 600 14px / 24px "Pretendard";
  margin-top: 10px;
  padding-left: 16px;
  color: #f74747;
}

.auth-input.input-error {
  outline: 1px solid #f74747;
}

.auth-visibility-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.auth-submit-btn {
  padding: 12px 0;
  background-color: var(--primary-blue);
  border: 0;
  border-radius: 40px;
  font: 600 20px / 32px "Pretendard";
  color: var(--secondary-100);
  cursor: pointer;
  width: 100%;
}

.auth-submit-btn:disabled {
  background-color: var(--secondary-400);
  cursor: not-allowed;
}

.auth-sns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.auth-sns-label {
  font: 500 16px / 26px "Pretendard";
  color: var(--secondary-800);
}

.auth-sns-icons {
  display: flex;
  gap: 16px;
}

.auth-sns-icons img {
  width: 42px;
  height: 42px;
}

.auth-footer {
  text-align: center;
  font: 500 14px / 24px "Pretendard";
  color: var(--secondary-800);
}

.auth-footer a {
  font: 500 14px / 17px "Pretendard";
  text-decoration-line: underline;
  color: var(--primary-blue);
  margin-left: 8px;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .auth-container {
    padding: 16px;
    max-width: 400px;
  }

  .auth-logo {
    width: 198px;
  }
}
