@import url(/style/global.css);

.header-container {
  height: 70px;
  padding: 9px 0;
  border-bottom: 1px solid #dfdfdf;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.header-inner {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 24px;
}

.header-login-btn {
  padding: 12px 23px;
  background-color: var(--primary-blue);
  color: #f3f4f6;
  border-radius: 8px;
  font: 600 16px/26px "Pretendard";
  width: 128px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
}

.section-span {
  font: 800 18px / 26px "Abhaya Libre";
  color: var(--primary-blue);
}

.section-top {
  height: 540px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #cfe5ff;
}

.section-top-inner {
  display: flex;
  width: 1110px;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.section-top-inner-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 260px;
}

.section-top-inner-left h1 {
  font: 700 40px/140% "Pretendard";
  word-break: keep-all;
}

.section-top-inner-left a {
  padding: 16px 0;
  background-color: var(--primary-blue);
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  color: var(--secondary-50);
  font: 600 20px / 32px "Pretendard";
}

.section-main {
  display: flex;
  justify-content: center;
  padding: 138px 0;
}

.section-main-inner {
  width: 988px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  background-color: #fcfcfc;
}

.section-main-inner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding-right: 24px;
  word-break: keep-all;
}

.section-main-inner-right h2 {
  font: 700 40px / 140% "Pretendard";
  color: var(--secondary-700);
}

.section-main-inner-right p {
  font: 500 24px/32px "Pretendard";
  color: var(--secondary-700);
}

.section-main-inner.reverse {
  flex-direction: row-reverse;
}

.section-main-inner.reverse .section-main-inner-right {
  text-align: right;
  padding-right: 0;
  padding-left: 24px;
}

.section-bottom {
  height: 540px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #cfe5ff;
}

.section-bottom-inner {
  display: flex;
  width: 1110px;
  align-items: center;
  justify-content: space-between;
  gap: 69px;
}

.section-bottom-inner h2 {
  font: 700 40px / 140% "Pretendard";
  color: var(--secondary-700);
  word-break: keep-all;
}

.footer-container {
  display: flex;
  justify-content: center;
  height: 160px;
  background-color: var(--secondary-900);
  padding-top: 30px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 1120px;
}

.footer-inner-left {
  color: var(--secondary-400);
  font: 400 16px / 19px "Pretendard";
}

.footer-inner-center {
  color: var(--secondary-200);
  font: 400 16px / 19px "Pretendard";
}

.footer-inner-right {
  display: flex;
  gap: 12px;
}

/* Tablet: 1199px 이하일 때 적용 */
@media (max-width: 1199px) {
  .section-top {
    height: auto;
  }

  .section-top-inner {
    display: flex;
    flex-direction: column;
    gap: 140px;
    width: auto;
    padding-top: 64px;
  }

  .section-top-inner img {
    width: 744px;
    height: 340px;
  }

  .main {
    padding: 0 24px;
  }

  .section-main {
    display: block;
  }
  .section-main-inner {
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  .section-main-inner img {
    width: 100%;
    height: 100%;
  }

  .section-main-inner-right h2 {
    font: 700 32px / 42px "Pretendard";
    color: var(--secondary-700);
  }

  .section-main-inner-right p {
    font: 500 18px / 26px "Pretendard";
    color: var(--secondary-700);
  }

  .section-main-inner.reverse {
    flex-direction: column;
  }

  .section-bottom {
    height: auto;
  }

  .section-bottom-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-bottom-inner img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .section-bottom-inner h2 {
    padding: 200px 0;
  }

  .footer-inner {
    display: flex;
    justify-content: space-around;
  }
}

/* Mobile: 767px 이하일 때 적용 */
@media (max-width: 767px) {
  .header-inner {
    padding: 0 16px;
  }

  .section-top-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
  }

  .section-top-inner-left h1 {
    font: 700 32px / 140% "Pretendard";
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .section-top-inner img {
    width: auto;
    height: 204px;
  }

  .main {
    padding: 0 16px;
  }

  .section-bottom-inner h2 {
    padding: 200px 0 100px;
  }

  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 64px;
  }

  .footer-inner-center {
    order: 1;
    display: flex;
    gap: 16px;
  }

  .footer-inner-right {
    order: 2;
    display: flex;
    gap: 12px;
    padding: 0;
    list-style: none;
  }

  .footer-inner-left {
    order: 3;
    width: 100%;
    margin-top: 24px;
    text-align: left;
  }
}
