@import url(/style/global.css);

.login-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
}

.login-form-input-container label {
  font: 700 18px / 26px "Pretendard";
  color: var(--secondary-800);
  margin-bottom: 16px;
}

.login-form-input-container input {
  padding: 15px 24px;
  border-radius: 12px;
  border: 0;
  background-color: var(--secondary-100);
  font: 400 16px / 26px "Pretendard";
  color: var(--secondary-800);
}

.login-form-input-msg {
  font: 600 14px / 24px "Pretendard";
  margin-top: 10px;
  padding-left: 16px;
  color: #f74747;
}

.login-form-input-container > .add-padding-right {
  padding-right: 52px;
}

.login-form-input-container-password-container {
  position: relative;
  display: flex;
}

.login-form-input-container-password-container input {
  width: 640px;
}

.login-form-input-visibility {
  position: absolute;
  right: 20px;
  top: 16px;
  cursor: pointer;
}

.login-form-btn {
  padding: 12px 0;
  background-color: var(--primary-blue);
  border: 0;
  border-radius: 40px;
  font: 600 20px / 32px "Pretendard";
  color: var(--secondary-100);
  cursor: pointer;
}

.login-form-btn:disabled {
  background-color: var(--secondary-400);
  cursor: not-allowed;
}

.login-form-sns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.login-form-sns-container-span {
  font: 500 16px/26px "Pretendard";
  color: var(--secondary-800);
}

.login-form-sns-icons {
  display: flex;
  gap: 16px;
}

.login-form-welcome-container,
.login-form-welcome-container a {
  text-align: center;
  font: 500 14px / 24px "Pretendard";
  color: var(--secondary-800);
}

.login-form-welcome-container a {
  font: 500 14px / 17px "Pretendard";
  text-decoration-line: underline;
  color: var(--primary-blue);
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .login-container {
    padding: 16px;
    max-width: 400px;
  }

  .login-form-logo {
    width: 198px;
  }
}
