body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Pretendard;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: var(--640px);
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--20px);
  margin-bottom: var(--40px);
}

.logo-name {
  font-weight: 900;
  font-family: ROKAF Sans;
  line-height: 100%;
  font-size: var(--66px);
  margin: 0;
  color: var(--blue);
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  width: 100%;
  margin-bottom: var(--20px);
}

.login-container {
  padding: var(--16px) var(--24px);
  background: var(--gray-100);
  width: 100%;
  height: var(--56px);
  border-radius: 0.75em;
  border: none;
  display: flex;
}

.label-input {
  font-weight: 700;
  line-height: var(--26px);
  font-size: var(--18px);
  color: var(--gray-800);
}

input:focus {
  outline: none;
}

.id-input {
  color: var(--gray-800);
  font-weight: 400;
  font-size: var(--16px);
  width: 100%;
  background: var(--gray-100);
  border: none;
}

.password-input {
  color: var(--gray-800);
  font-weight: 400;
  font-size: var(--16px);
  width: 100%;
  background: var(--gray-100);
  border: none;
}

.password-blink {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: var(--gray-100);
}

.login-button {
  width: 100%;
  margin: var(--10px) 0 var(--25px);
  background: var(--gray-400);
  border: none;
  padding: 0.75em 1em;
  border-radius: var(--40px);
  color: var(--gray-100);
  font-weight: 600;
  font-size: var(--20px);
  line-height: var(--32px);
  cursor: pointer;
}

.login-accept-button {
  background-color: var(--blue);
}

.easy-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6f2ff;
  border-radius: var(--8px);
  padding: var(--16px) var(--23px);
  font-weight: 500;
  color: var(--gray-800);
  font-size: var(--16px);
  line-height: var(--26px);
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625em;
}

.icon {
  display: block;
}

.final-footer {
  text-align: center;
  margin-top: var(--25px);
  font-weight: 500;
  font-size: var(--14px);
}

.final-footer > p {
  margin: 0;
  color: var(--gray-800);
}

.final-footer > p > a {
  color: var(--blue);
}

.error-message {
  padding-left: 16px;
  color: var(--error-red);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  min-height: 18px;
}

.error-border {
  border: 1px solid var(--error-red);
}

.accept-border {
  border: 1px solid var(--blue);
}

@media (max-width: 47.938em) {
  body {
    padding: var(--100px) var(--16px);
  }

  .wrapper {
    max-width: var(--400px);
  }

  .logo-name {
    font-size: var(--33px);
  }

  .top-header > img {
    width: var(--50px);
    height: var(--50px);
  }

  .label-input {
    font-size: var(--14px);
  }
}
