.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  background-color: #fcfcfc;
}
