.withHeader {
  margin-top: var(--header-height);
}

.BestSection {
  margin-top: 80px;
}

/* 상단 영역 */
.BestSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.BestSectionTitle {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
}

.BestGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 375px) {
  
  .allSectionHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .BestGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 767px) {
  .allSectionHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .BestGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1280px) {
  .BestGrid {
    grid-template-columns: repeat(2, 1fr);
  }

}