@import 'tailwindcss';

@utility container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

@utility text-20-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

@utility text-18-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

@utility text-16-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

@utility text-16-extrabold {
  font-size: 16px;
  line-height: 800;
  line-height: 100%;
}

@utility text-16-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

:root {
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  --violet-600: #7c3aed;
  --violet-100: #ede9fe;

  --rose-500: #f43f5e;
  --lime-300: #bef264;

  --amber-800: #92400e;

  --gray-50: #f9fafb;
}

@theme inline {
  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-600: var(--slate-600);
  --color-slate-700: var(--slate-700);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);

  --color-violet-600: var(--violet-600);
  --color-violet-100: var(--violet-100);

  --color-rose-500: var(--rose-500);
  --color-lime-300: var(--lime-300);

  --color-amber-800: var(--amber-800);

  --color-gray-50: var(--gray-50);
}

.memo-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.memo-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.memo-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fde68a;
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
  cursor: pointer;
}

.memo-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #f3d661;
  background-clip: content-box;
}
