.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 20px;
}

@media (max-width: 743px) {
  .inner {
    padding: 20px 16px;
  }
}
