body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-800);
}
main {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

/* auth.css */
.logo {
  width: 320px;
}
.auth-header {
  display: flex;
  justify-content: center;
}
.auth-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.auth-form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.auth-form label {
  font-size: 14px;
  font-weight: 600;
}
.auth-form-input-container {
  position: relative;
}
.auth-form-input {
  width: 100%;
  background-color: var(--secondary-100);
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
}
.auth-form-input.error {
  border: 1px solid var(--error);
}
.auth-form-input-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.error-message {
  font-size: 12px;
  color: var(--error);
}

.auth-button {
  padding: 12px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  color: var(--secondary-100);
  background-color: var(--primary-100);
  cursor: pointer;
}
.auth-button:disabled {
  background-color: var(--secondary-400);
}

.login-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border-radius: 6px;
  background-color: var(--primary-400);
  font-size: 14px;
}
.login-social-buttons {
  display: flex;
  gap: 12px;
}
.login-social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.login-social-btn--google {
  background-color: var(--bg-white);
}
.login-social-btn--kakao {
  background-color: #f5e14b;
}
.login-social-icon {
  width: 20px;
  height: 20px;
}

.signup-message {
  text-align: center;
  font-size: 12px;
}
.auth-form span a {
  margin-left: 4px;
  color: var(--primary-100);
  text-decoration: underline;
}
.auth-form span a:hover {
  color: var(--primary-200);
}

/* 태블릿 뷰 */
@media (min-width: 768px) and (max-width: 1199px) {
  main {
    width: 100%;
    max-width: 400px;
    padding: 0 24px;
  }

  .logo {
    width: 280px;
  }
}

/* 모바일 뷰 */
@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  main {
    width: 100%;
    max-width: 400px;
    gap: 32px;
  }

  .logo {
    width: 240px;
  }

  .auth-form {
    gap: 20px;
  }
  .auth-form-input {
    font-size: 16px;
  }

  .auth-button {
    font-size: 16px;
  }

  .login-social {
    padding: 12px 16px;
    font-size: 12px;
    flex-wrap: nowrap;
    gap: 12px;
  }
  .login-social-buttons {
    gap: 10px;
  }
  .login-social-btn {
    width: 36px;
    height: 36px;
  }
  .login-social-icon {
    width: 18px;
    height: 18px;
  }
}
