.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--bg-white);
  background-color: var(--primary-100);
  border-radius: 999px;
  border-color: transparent;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-200);
}

.submit-login_btn {
  padding: 16px 124px;
}

.submit-login_btn:disabled {
  background-color: var(--secondary-400);
  color: var(--secondary-100);
  cursor: not-allowed;
}
