.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0px 32px;
}
.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--secondary-600);
  font: var(--font-Bold18);
}
.li {
  padding: 21px 15px;
}

@media (min-width: 375px) and (max-width: 773px) {
  .ul {
    gap: 8px;
  }
  .li {
    padding: 25px 0;
  }
}

@media (max-width: 375px) {
}
