:root {
  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-600: #4b5563;
  --secondary-800: #1f2937;
  --secondary-900: #111827;

  --primary-100: #3692ff;
  --primary-200: #1967d6;

  --coolGray-50: #f9fafb;
  --coolGray-100: #f3f4f6;
  --coolGray-200: #e5e7eb;
  --coolGray-300: #d1d5db;
  --coolGray-400: #9ca3af;
  --coolGray-500: #6b7280;
  --coolGray-900: #111827;
  --errorRed: #f74747;

  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  --blue: #3692ff;
  --error-red: #f74747;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Pretendard;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
  padding: 0;
}

input {
  outline: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}
