:root {
  /* Primary color(blue) */
  --color-primary100: #3692ff;
  --color-primary200: #1967d6;
  --color-primary300: #1251aa;

  /* Secondary color(gray) */
  --color-secondary50: #f9fafb;
  --color-secondary100: #f3f4f6;
  --color-secondary200: #e5e7eb;
  --color-secondary400: #9ca3af;
  --color-secondary500: #6b7280;
  --color-secondary600: #4b5563;
  --color-secondary700: #374151;
  --color-secondary800: #1f2937;
  --color-secondary900: #111827;

  /* Error(red) */
  --color-error: #f74747;

  /* Standard color */
  --color-white: #ffffff;
  --color-gray: #fcfcfc;
  --color-blue: #cfe5ff;
}

html,
body {
  font-family: "Pretendard", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
