.header_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 400px;
  position: sticky;
  top: 0;
  background-color: var(--bg-white);
  border: 1px solid #dfdfdf;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1120px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo > img {
  width: 40px;
}

.logo > a {
  font-family: ROKAF Sans;
  font-weight: 700;
  font-size: 25.63px;
  color: var(--primary-100);
  text-decoration: none;
}

.head > a {
  text-decoration: none;
  color: var(--secondary-100);
  cursor: pointer;
}

.log_in {
  width: 128px;
  height: 48px;
  background: var(--primary-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary-100);
}

.main_container,
.container {
  background-color: var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 540px;
  color: var(--secondary-700);
}

.main_content,
.text_image {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_content {
  gap: 7px;
}

.main_write_button {
  display: flex;
  flex-direction: column;
  justify-content: flex-starts;
}
.main_write_button > h1 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0;
}
.main_write_button > button {
  height: 56px;
  background: var(--primary-100);
  border-radius: 40px;
  border: none;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--secondary-50);
  cursor: pointer;
  margin: 32px 0 60px 0;
  padding: 16px 124px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 138px 0;
  border-radius: 12px;
  background-color: var(--bg-gray);
  width: 988px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1 > img {
  width: 579px;
}

.subtitle {
  font-size: 18px;
  font-weight: 800;
  font-family: Abhaya Libre;
  color: var(--primary-100);
  line-height: 26px;
  margin-bottom: 12px;
}

.main_text1 > h2 {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
  margin-bottom: 16px;
  margin: 0 0 24px;
}
.main_text1 > p {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-700);
  min-width: 268px;
}

.content2 {
  flex-direction: row-reverse;
  text-align: right;
}

.buttom_content {
  gap: 69px;
}

.buttom_write {
  padding-bottom: 60px;
  gap: 10px;
}
.buttom_write > h2 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0;
}

footer {
  background-color: var(--secondary-900);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0 0;
  height: 160px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.footer p {
  color: var(--secondary-400);
}

.FAQ {
  display: flex;
  gap: 30px;
}

.FAQ a {
  text-decoration: none;
  color: var(--secondary-200);
}

.icons {
  display: flex;
  gap: 12px;
}
