.button {
  background-color: var(--primary-100);
  border: none;
  border-radius: 8px;
  color: var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button:hover {
  background-color: var(--primary-200);
}
.button:active {
  background-color: var(--primary-300);
}

#header {
  display: flex;
  align-items: center;
  padding: 9px 200px;
  justify-content: space-between;
  position: fixed;
  background-color: var(--bg-white);
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#header > * {
  cursor: pointer;
}

.logoImg {
  display: block;
}

#loginBtn {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
}

.landingBanner {
  background-color: var(--bg-blue);
  height: 540px;
  background-image: url(../assets/landing.svg);
  background-size: 746px 340px;
  background-repeat: no-repeat;
  background-position: calc(50% + 310px) 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.landingContents {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.landingHeader {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 32px;
}

#landingBtn {
  border-radius: 40px;
  width: 357px;
  height: 56px;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.infoItem {
  display: flex;
  width: 100%;
  max-width: 988px;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}

.infoItem img {
  width: 579px;
  height: 444px;
}

.infoContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left {
  text-align: right;
  align-items: flex-end;
}

.itemHeader {
  color: var(--primary-100);
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}

.line {
  height: 1px;
  background-color: var(--bg-gray);
  width: 100%;
}

.footerBanner {
  background-color: var(--bg-blue);
  height: 540px;
  background-image: url(../assets/footer.svg);
  background-size: 746px 397px;
  background-repeat: no-repeat;
  background-position: calc(50% + 310px) 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBannerContent {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}

#footer {
  background-color: var(--secondary-900);
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  box-sizing: border-box;
}

#footer a,
#footer span {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-400);
  text-decoration: none;
}

#footerNav {
  display: flex;
  gap: 30px;
}

#logos {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  #header {
    padding: 9px 24px;
  }

  #footer {
    padding: 0 24px;
  }

  .infos {
    padding: 60px 24px;
  }

  .infoItem {
    flex-direction: column !important;
    margin: 40px 0;
    gap: 32px;
    max-width: 100%;
    align-items: flex-start;
  }

  .infoItem img {
    width: 100%;
    max-width: 100%;
    height: auto;
    order: 1;
  }

  .infoContent {
    width: 100%;
    order: 2;
    text-align: left;
    align-items: flex-start;
  }

  .infoContent br {
    display: none;
  }

  .left {
    text-align: left;
    align-items: flex-end;
  }
}

@media (max-width: 767px) {
  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 32px 16px 64px;
  }

  #footerNav {
    order: 1;
    display: flex;
    gap: 40px;
  }

  #footerNav a,
  #footer > span {
    font-size: 18px;
    font-weight: 600;
  }

  #logos {
    order: 2;
  }

  #footer > span {
    order: 3;
    width: 100%;
    margin-top: 60px;
    display: block;
  }

  .infoContent h2 {
    font-size: 24px;
  }
}
