.login-all {
  height: 100vh;
  margin: 0 auto;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22.24px;
  text-decoration: none;
}
.logo > img {
  width: 103.58px;
}
.logo > p {
  font-family: ROKAF Sans;
  font-weight: 700;
  font-size: 66.34px;
  line-height: 100%;
  vertical-align: middle;
  color: var(--primary-100);
}

.login-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.login-main > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.login-main .input-box {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-box {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--secondary-800);
}

.input-box .input {
  height: 56px;
  border-radius: 12px;
  border: none;
  background-color: var(--secondary-100);
  padding: 0 52px 0 24px;
  color: var(--secondary-800);
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
}

.input::placeholder {
  font-size: 16px;
}

.input:focus {
  outline: 1px solid var(--primary-100);
}

#password {
  font:
    large Verdana,
    sans-serif;
  width: 100%;
}
.password_box {
  position: relative;
  display: flex;
  width: 100%;
}
.password_box img {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  right: 0;
  cursor: pointer;
  z-index: 1;
}

form > button {
  height: 56px;
  background-color: var(--secondary-400);
  border-radius: 40px;
  border: none;
  color: var(--secondary-100);
  font-family: Pretendard;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.simple-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 23px;
  width: 100%;
  height: 74px;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.simple-login-text_app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.simple-login-text_app > p {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-800);
}
.app-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sign-up p {
  color: var(--secondary-800);
  font-family: Pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.sign-up a {
  color: var(--primary-100);
}

#password_confirm {
  font:
    large Verdana,
    sans-serif;
  width: 100%;
}

.signup-all {
  height: 100%;
  margin: 60px auto;
}

/* 테블릿,모바일 반응형웹 */
@media (min-width: 375px) and (max-width: 1199px) {
  .login-all {
    margin: 190px auto;
    height: 100%;
  }
  .signup-all {
    height: 100%;
    margin: 48px auto;
  }
}

/* 모바일 반응형웹 설정 */
@media (min-width: 375px) and (max-width: 767px) {
  body {
    display: flex;
    justify-content: center;
  }
  .login-all {
    margin: 80px 16px;
    height: 100%;
    max-width: 400px;
    gap: 24px;
  }
  .logo {
    gap: 11.12px;
  }
  .logo > img {
    width: 51.76px;
  }
  .logo > p {
    font-size: 33.17px;
  }
  .input-box .label-login {
    font-size: 14px;
  }
  .login-main .input-box {
    gap: 8px;
  }
  .login-main > form {
    gap: 16px;
  }
  .input-box {
    font-size: 14px;
  }
}
