* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 640px;
  height: 618px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pandaLogo {
  width: 396px;
  height: 132px;
  display: block;
  margin-bottom: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px; /* label 아래 16px → input */
  margin-bottom: 18px; /* email-error 아래 18px → 다음 label */
}

.field-body {
  display: flex;
  flex-direction: column;
}

.email-label,
.passwd-label {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-secondary800);
}

.email-input,
.passwd-input {
  width: 640px;
  height: 56px;
  padding: 16px 24px 14px;
  border-radius: 12px;
  border: 2px solid var(--color-secondary100);
  background-color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

/* 이메일 에러 */
.email-error-message {
  margin: 0;
  margin-top: 8px; /* input 아래 8px → error */
  padding-left: 16px;
  color: var(--color-error);
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

/* 비밀번호 에러도 동일 규칙으로 맞추기 */
.passwd-error-message {
  margin: 0;
  margin-top: 8px; /* input 아래 8px */
  padding-left: 16px;
  color: var(--color-error);
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.email-error-message:empty,
.passwd-error-message:empty {
  display: none;
}

.email-input.isError,
.passwd-input.isError {
  border: 2px solid var(--color-error);
}

.login-button {
  width: 640px;
  height: 56px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 40px;
  border: none;
  background-color: var(--color-primary100);
  color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-button:disabled {
  background-color: var(--color-secondary400);
  cursor: pointer;
}

.social-login {
  margin-top: 24px;
  width: 640px;
  height: 74px;
  background-color: var(--color-skyblue);
  border-radius: 8px;
  border: 1px solid var(--color-skyblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
}

.social-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.signup {
  width: 197px;
  height: 24px;
  margin: 24px auto 0;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
}

.signup-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-secondary800);
}

.signup-page {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-primary100);
  text-decoration: underline;
}
