* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.signup-box {
  width: 640px;
  height: 857px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  margin: 0 auto;
}

.pandaLogo {
  width: 396px;
  height: 132px;
  display: block;
  margin-bottom: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px; /* 에러 메시지(또는 input) 아래에서 다음 라벨까지 18px */
}

.field-body {
  display: flex;
  flex-direction: column;
}

.email-label,
.passwd-label {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-secondary800);
  margin-bottom: 16px;
}

.email-input,
.passwd-input {
  width: 640px;
  height: 56px;
  padding: 16px 24px 14px;
  border-radius: 12px;
  border: 2px solid var(--color-secondary100);
  background-color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

/* 이메일 에러
닉네임 에러
비밀번호 8자 이상
비밀번호 불일치 에러 */
.email-error-message,
.passwd-error-message,
.nickname-error-message,
.passwdcheck-error-message {
  margin: 0;
  margin-top: 8px; /* input 아래 8px → error */
  padding-left: 16px;
  color: var(--color-error);
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.email-error-message:empty,
.nickname-error-message:empty,
.passwd-error-message:empty,
.passwdcheck-error-message:empty {
  display: none;
}

.email-input.isError,
.nickname-input.isError,
.passwd-input.isError,
.passwdcheck-input.isError {
  border: 2px solid var(--color-error);
}

.passwdcheck-error-message.isCorrect {
  margin: 0;
  margin-top: 8px; /* input 아래 8px → error */
  padding-left: 16px;
  color: var(--color-primary300);
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.passwdcheck-input.isCorrect {
  margin: 0;
  margin-top: 8px; /* input 아래 8px → error */
  padding-left: 16px;
  color: var(--color-primary300);
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: 2px solid var(--color-primary300);
}

.nickname-label,
.passwdcheck-label {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-secondary800);
  margin-bottom: 16px;
}

.passwdcheck-input {
  width: 640px;
  height: 56px;
  padding: 16px 24px 14px;
  border: 2px solid var(--color-secondary100);
  border-radius: 12px;
  background-color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

.nickname-input {
  width: 640px;
  height: 56px;
  padding: 16px 24px 14px;
  border-radius: 12px;
  border: 2px solid var(--color-secondary100);
  background-color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

.passwd-input {
  padding: 16px 24px;
}

.signup-button {
  width: 640px;
  height: 56px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 40px;
  border: none;
  background-color: var(--color-primary100);
  color: var(--color-secondary100);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signup-button:disabled {
  background-color: var(--color-secondary400);
  cursor: pointer;
}

.actions {
  margin-top: 18px; /* 마지막 에러 메시지/input으로부터 18px */
}

.social-login {
  margin-top: 24px;
  width: 640px;
  height: 74px;
  background-color: var(--color-skyblue);
  border-radius: 8px;
  border: 1px solid var(--color-skyblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
}

.social-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-secondary800);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.signin {
  width: 149px;
  height: 24px;
  margin: 24px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
  margin-bottom: 100px;
}

.signin-text {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-secondary800);
}

.signin-page {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-primary100);
  text-decoration: underline;
}
