.header {
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffff;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;
}

@media (max-width: 743px) {
  .inner {
    padding: 20px 16px;
  }
}
